<style>
    .footer {
        font-size: 13px;
    }

    .footer-container {
        background-color: #15397f;
        padding-top: 40px;
        padding-bottom: 20px;
        display: flex;
        gap: 20px;
        justify-content: space-around;
    }

    .footer-container a {
        color: white;
        text-decoration: none;
        text-decoration-color: white;
        transition: color 0.3s;
    }

    .footer-container a:hover {
        color: #ffa500;
    }

    .footer-container ul li {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .footer-copyright {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 0.75rem;
        text-align: center
    }

    .footer-links-1 a,
    .footer-links-2 a,
    .footer-links-3 a {
        text-decoration: none;
        text-decoration-color: white;
        flex-direction: row;
        display: flex;
        margin-bottom: 15px;
    }

    .footer-links-1,
    .footer-links-2,
    .footer-links-3 {}

    .footer-links-1 {
        max-width: 148px;
    }

    .footer-links-2 {
        max-width: 300px;
    }

    .footer-links-3 {
        max-width: 275px;
    }

    .application-download {
        color: white;
        max-width: 136px;
    }

    .application-download>div {
        display: flex;
        align-items: center;
    }

    .application-download>div>div {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
    }

    .application-download a {
        width: 60px;
        height: 20px;
        margin-bottom: 5px;
    }

    .application-download .btn-app-store,
    .application-download .btn-gg-play {
        width: 100%;
        height: 100%;
    }

    .qr-code {
        width: 48px;
        height: 48px;
    }

    .info-social-media {
        color: white;
        display: flex;
        gap: 10px;
        max-width: 275px;
        flex-direction: column;
    }

    .info-social-media>div {
        display: flex;
        gap: 8px;
    }

    .tiktok a {
        display: flex;
        align-items: center;
    }

    .tiktok img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .tiktok div {
        font-size: 11px;
    }

    .youtube a {
        display: flex;
        align-items: center;
    }

    .youtube img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .youtube div {
        font-size: 11px;
    }

    .facebook a {
        display: flex;
        align-items: center;
    }

    .facebook img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .facebook div {
        font-size: 11px;
    }
</style>

<div class="footer">
    <div class="footer-container">
        <div class="footer-links-1">
            <ul>
                <li><a href="#">Về chúng tôi</a></li>
                <li><a href="#">Học cắt tóc</a></li>
                <li><a href="#">Tìm SmSa gần nhất</a></li>
                <li><a href="#">Terms of Service</a></li>
            </ul>
        </div>
        <div class="footer-links-2">
            <ul>
                <li><a href="#">Hotline (1000đ/phút): 1900.27.27.03</a></li>
                <li><a href="#">Liên hệ học nghề tóc: 0967.86.3030</a></li>
                <li><a href="#">Liên hệ nhượng quyền</a></li>
                <li><a href="#">Liên hệ quảng cáo</a></li>
            </ul>
        </div>
        <div class="footer-links-3">
            <ul>
                <li><a href="#">Giờ phục vụ: Thứ 2 đến Chủ Nhật, 7h00 - 17h00</a></li>
                <li><a href="#">Chính sách bảo mật</a></li>
                <li><a href="#">Điều kiện giao dịch chung</a></li>
                <li><a href="#">Giấy phép giáo dục nghề nghiệp</a></li>
            </ul>
        </div>

        <div class="application-download">
            <p>Tải ứng dụng SmSa</p>

            <div>
                <div>
                    <a href="#"><img src="/images/footer_apple.png" alt="Loading..." class="btn-app-store"></a>
                    <a href="#"><img src="/images/footer_googleplay.png" alt="Loading..." class="btn-gg-play"></a>
                </div>
                <img src="/images/download-app-qr.png" alt="Loading..." class="qr-code">
            </div>
        </div>

        <div class="info-social-media">
            <p>Tham gia cộng đồng 2,5 triệu thành viên</p>

            <div>
                <div class="tiktok">
                    <a href="#">
                        <img src="/images/tiktok-icon.png" alt="Loading...">
                        <div>600k follow</div>
                    </a>
                </div>
                <div class="youtube">
                    <a href="#">
                        <img src="/images/youtube-icon.png" alt="Loading...">
                        <div>1300k follow</div>
                    </a>
                </div>
                <div class="facebook">
                    <a href="#">
                        <img src="/images/facebook-icon.png" alt="Loading...">
                        <div>200k follow</div>
                    </a>
                </div>
            </div>
            <div>
                <a href="#"><img src="/images/footer_congthuongicon.png" alt="Loading..."
                        style="width: 68px; height: 28px;"></a>
                <a href="#"><img src="/images/footer_dmca.png" alt="Loading..." style="width: 48px; height: 28px;"></a>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        © 2015 Công Ty Cổ Phần TMDV 30Shine / Địa chỉ: 82 Trần Đại Nghĩa, P. Đồng Tâm, Q. Hai Bà Trưng, HN/ GPĐKKD số
        010.7467.693 do Sở KHĐT TP.HN cấp ngày 08/06/2016.
    </div>
</div>