<style>
    .container-fluid {
        background-color: white;
    }

    .navbar-item {
        display: inline;
        list-style: none;
    }

    .navbar-item a {
        display: block;
        padding: 10px;
        background-color: white;
    }

    .navbar-item a:hover {
        text-decoration: underline;
        text-decoration-color: blue;
        text-underline-offset: 10px;
    }
</style>

<div class="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/api/site/home">SmSa</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="navbar-item">
                        <a class="dropdown-item" href="/api/site/home">Trang chủ</a>
                    </li>
                    <li class="navbar-item">
                        <a class="dropdown-item" href="/api/site/about-us">Về SmSa</a>
                    </li>
                    <li class="navbar-item">
                        <a class="dropdown-item" href="/api/site/map">Tìm SmSa gần nhất</a>
                    </li>
                    <li class="navbar-item">
                        <a class="dropdown-item" href="/api/accounts/register">Đăng ký</a>
                    </li>
                    <li class="navbar-item">
                        <a class="dropdown-item" href="/api/accounts/login">Đăng nhập</a>
                    </li>
                    <li class="navbar-item">
                        <a class="dropdown-item" href="/api/accounts/logout">Đăng xuất</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<script>
    function checkToken() {
        let token = res.cookies.tokenUser;

        if (token) {
            return true;
        }
        return false;
    }
</script>